<%#
context = document.location.href
title = $('.information > h1').text()
repo = $('ul.breadcrumb > li:first > a').text().trim()
callno = $('.identifier > .component').text().trim()
box-badge = $('.badge-and-identifier > .archival_object').text().trim().split('— ').pop()
container = $('#aeon_request_sub > input[name^=instance_top_container_display_string]').map(function() { return this.value; }).get().join('; ')
%>

<%
base = "https://web.library.yale.edu/form/archivesspace-pui-suggest-correction"
context = request.original_url
%>

<div class="suggest_correction">
  <a class="btn btn-default btn-xs" href="<%= base + '?URL=' + context %>" target="_blank">
     Suggest a Correction
       <i class="fa fa-check-square" aria-hidden="true"></i>
  </a>
</div>
